<div class="links">
<h1>Related Projects</h1>

<!-- LEDCube -->
<div class="link">
<a class="active" href="//hotwolf.github.io/LEDCube">
<h1>LEDCube</h1>
Firmware for the Arduino 4x4x4 LED cube shield
</a>
</div><!--<div id="link">-->

<!-- SimonShield -->
<div class="link">
<a class="active" href="//hotwolf.github.io/SimonShield">
<h1>SimonShield</h1>
Simon game for Arduino
</a>
</div><!--<div id="link">-->

<!-- LoLSnakes -->
<div class="link">
<a class="active" href="//hotwolf.github.io/LoLSnakes">
<h1>LoLSnakes</h1>
Snakes game for Arduino
</a>
</div><!--<div id="link">-->

<!-- Project Overview -->
<div class="link">
<a class="active" href="//hotwolf.github.io">
<h1>...more</h1>
Overview of all projects on hotwolf.github.io
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
